[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  #{% set strip = params.STRIP|string %}
  #{% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip="LED",
                             state=True,
                             preset=1)}

[gcode_macro WLED_RAINBOW]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  #{% set strip = params.STRIP|string %}
  #{% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip="LED",
                             state=True,
                             preset=3)}

[gcode_macro WLED_BED_HEATING]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  #{% set strip = params.STRIP|string %}
  #{% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip="LED",
                             state=True,
                             preset=4)}

[gcode_macro WLED_PRINTING]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  #{% set strip = params.STRIP|string %}
  #{% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip="LED",
                             state=True,
                             preset=1)}
[gcode_macro WLED_OFF]
description: Turn WLED strip off
gcode:
  {% set strip = params.STRIP|string %}

  {action_call_remote_method("set_wled_state",
                             strip="LED",
                             state=False)}



